*{
    padding: 0px;
    margin: 0px;
}
/* Styling Loading Background */
.loading{
    position: fixed;
    background: #f1f1f1b7;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right:0px;
}
/* Styling Loading Text */
.loading p{
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #5c9bff;
    font-family: sans-serif;
    font-size: 80px;
    animation: loading 4s infinite;
}

@keyframes loading{
    0%{
        opacity: 1
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}